/* Global settings */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #000000;
}

/* Apply to all headers */
h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.0em;
}


/* Customize chat messages */
.chat-message {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333333;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.chat-message-user {
    border-left: 3px solid #4CAF50;
}

.chat-message-assistant {
    border-left: 3px solid #007BFF;
    margin-bottom: 50px;
}
